# Importing Library

In [172]:
import numpy as np
import pandas as pd
import os
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split


from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import SGDClassifier
from catboost import CatBoostClassifier
from xgboost import XGBClassifier
from lightgbm import LGBMClassifier
from sklearn.ensemble import VotingClassifier
from sklearn.model_selection import StratifiedKFold
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/playground-series-s4e11/sample_submission.csv
/kaggle/input/playground-series-s4e11/train.csv
/kaggle/input/playground-series-s4e11/test.csv

In [173]:
# !pip install git+https://github.com/AutoViML/Auto_ViML.git
# !pip install ipykernel==5.5.6
# !pip install --upgrade pandas
# !pip install scipy==1.11.0

# Dataset|

In [174]:
df=pd.read_csv('/kaggle/input/playground-series-s4e11/train.csv',index_col=['id'])
df.head()

,Name,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
id,,,,,,,,,,,,,,,,,,,
0,Aaradhya,Female,49.0,Ludhiana,Working Professional,Chef,NaN,5.0,NaN,NaN,2.0,More than 8 hours,Healthy,BHM,No,1.0,2.0,No,0
1,Vivan,Male,26.0,Varanasi,Working Professional,Teacher,NaN,4.0,NaN,NaN,3.0,Less than 5 hours,Unhealthy,LLB,Yes,7.0,3.0,No,1
2,Yuvraj,Male,33.0,Visakhapatnam,Student,NaN,5.0,NaN,8.97,2.0,NaN,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1
3,Yuvraj,Male,22.0,Mumbai,Working Professional,Teacher,NaN,5.0,NaN,NaN,1.0,Less than 5 hours,Moderate,BBA,Yes,10.0,1.0,Yes,1
4,Rhea,Female,30.0,Kanpur,Working Professional,Business Analyst,NaN,1.0,NaN,NaN,1.0,5-6 hours,Unhealthy,BBA,Yes,9.0,4.0,Yes,0

In [175]:
df.columns

Index(['Name', 'Gender', 'Age', 'City', 'Working Professional or Student',
       'Profession', 'Academic Pressure', 'Work Pressure', 'CGPA',
       'Study Satisfaction', 'Job Satisfaction', 'Sleep Duration',
       'Dietary Habits', 'Degree', 'Have you ever had suicidal thoughts ?',
       'Work/Study Hours', 'Financial Stress',
       'Family History of Mental Illness', 'Depression'],
      dtype='object')

In [176]:
df.describe()

,Age,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Work/Study Hours,Financial Stress,Depression
count,140700.000000,27897.000000,112782.000000,27898.000000,27897.000000,112790.000000,140700.000000,140696.000000,140700.000000
mean,40.388621,3.142273,2.998998,7.658636,2.944940,2.974404,6.252679,2.988983,0.181713
std,12.384099,1.380457,1.405771,1.464466,1.360197,1.416078,3.853615,1.413633,0.385609
min,18.000000,1.000000,1.000000,5.030000,1.000000,1.000000,0.000000,1.000000,0.000000
25%,29.000000,2.000000,2.000000,6.290000,2.000000,2.000000,3.000000,2.000000,0.000000
50%,42.000000,3.000000,3.000000,7.770000,3.000000,3.000000,6.000000,3.000000,0.000000
75%,51.000000,4.000000,4.000000,8.920000,4.000000,4.000000,10.000000,4.000000,0.000000
max,60.000000,5.000000,5.000000,10.000000,5.000000,5.000000,12.000000,5.000000,1.000000

In [177]:
df.shape

(140700, 19)

In [178]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 140700 entries, 0 to 140699
Data columns (total 19 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   Name                                   140700 non-null  object
 1   Gender                                 140700 non-null  object
 2   Age                                    140700 non-null  float64
 3   City                                   140700 non-null  object
 4   Working Professional or Student        140700 non-null  object
 5   Profession                             104070 non-null  object
 6   Academic Pressure                      27897 non-null   float64
 7   Work Pressure                          112782 non-null  float64
 8   CGPA                                   27898 non-null   float64
 9   Study Satisfaction                     27897 non-null   float64
 10  Job Satisfaction                       112790 non-null  float64
 11  Sleep Duration                         140700 non-null  object
 12  Dietary Habits                         140696 non-null  object
 13  Degree                                 140698 non-null  object
 14  Have you ever had suicidal thoughts ?  140700 non-null  object
 15  Work/Study Hours                       140700 non-null  float64
 16  Financial Stress                       140696 non-null  float64
 17  Family History of Mental Illness       140700 non-null  object
 18  Depression                             140700 non-null  int64
dtypes: float64(8), int64(1), object(10)
memory usage: 21.5+ MB

++++++++++++++++++++++++++++++++++++++++++++++++

# Data Processing

In [179]:
# Standardize column names
df.columns = df.columns.str.strip().str.replace(" ", "_").str.lower()

In [180]:
df.isnull().sum()

name                                          0
gender                                        0
age                                           0
city                                          0
working_professional_or_student               0
profession                                36630
academic_pressure                        112803
work_pressure                             27918
cgpa                                     112802
study_satisfaction                       112803
job_satisfaction                          27910
sleep_duration                                0
dietary_habits                                4
degree                                        2
have_you_ever_had_suicidal_thoughts_?         0
work/study_hours                              0
financial_stress                              4
family_history_of_mental_illness              0
depression                                    0
dtype: int64

### **Cleaning "Profession" Column**

In [181]:
df[df['profession'].isna()]

,name,gender,age,city,working_professional_or_student,profession,academic_pressure,work_pressure,cgpa,study_satisfaction,job_satisfaction,sleep_duration,dietary_habits,degree,have_you_ever_had_suicidal_thoughts_?,work/study_hours,financial_stress,family_history_of_mental_illness,depression
id,,,,,,,,,,,,,,,,,,,
2,Yuvraj,Male,33.0,Visakhapatnam,Student,NaN,5.0,NaN,8.97,2.0,NaN,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1
8,Aishwarya,Female,24.0,Bangalore,Student,NaN,2.0,NaN,5.90,5.0,NaN,5-6 hours,Moderate,BSc,No,3.0,2.0,Yes,0
26,Aditya,Male,31.0,Srinagar,Student,NaN,3.0,NaN,7.03,5.0,NaN,Less than 5 hours,Healthy,BA,No,9.0,1.0,Yes,0
29,Kashish,Female,19.0,Agra,Working Professional,NaN,NaN,1.0,NaN,NaN,5.0,More than 8 hours,Healthy,Class 12,No,5.0,2.0,No,0
30,Prisha,Female,28.0,Varanasi,Student,NaN,3.0,NaN,5.59,2.0,NaN,7-8 hours,Moderate,BCA,Yes,4.0,5.0,Yes,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140686,Rohan,Male,27.0,Ludhiana,Student,NaN,2.0,NaN,9.40,3.0,NaN,Less than 5 hours,Healthy,MSc,No,0.0,3.0,Yes,0
140689,Ayaan,Male,31.0,Faridabad,Student,NaN,3.0,NaN,6.61,4.0,NaN,5-6 hours,Unhealthy,MD,No,12.0,2.0,No,0
140690,Rashi,Female,18.0,Ludhiana,Student,NaN,5.0,NaN,6.88,2.0,NaN,Less than 5 hours,Healthy,Class 12,Yes,10.0,5.0,No,1
140695,Vidya,Female,18.0,Ahmedabad,Working Professional,NaN,NaN,5.0,NaN,NaN,4.0,5-6 hours,Unhealthy,Class 12,No,2.0,4.0,Yes,1
140699,Sai,Male,27.0,Patna,Student,NaN,4.0,NaN,9.24,1.0,NaN,Less than 5 hours,Healthy,BCA,Yes,2.0,3.0,Yes,1

In [182]:
df.loc[df['working_professional_or_student'] == "Student", 'profession'] = df.loc[df['working_professional_or_student'] == "Student", 'profession'].fillna('Student')

 **Cleaned "profeesion" to `Student` where "working_professional_or_student"  is `Student`  **

###  Cleaning "**Academic_pressure**" Column

In [183]:
df[df['academic_pressure'].isna()]

,name,gender,age,city,working_professional_or_student,profession,academic_pressure,work_pressure,cgpa,study_satisfaction,job_satisfaction,sleep_duration,dietary_habits,degree,have_you_ever_had_suicidal_thoughts_?,work/study_hours,financial_stress,family_history_of_mental_illness,depression
id,,,,,,,,,,,,,,,,,,,
0,Aaradhya,Female,49.0,Ludhiana,Working Professional,Chef,NaN,5.0,NaN,NaN,2.0,More than 8 hours,Healthy,BHM,No,1.0,2.0,No,0
1,Vivan,Male,26.0,Varanasi,Working Professional,Teacher,NaN,4.0,NaN,NaN,3.0,Less than 5 hours,Unhealthy,LLB,Yes,7.0,3.0,No,1
3,Yuvraj,Male,22.0,Mumbai,Working Professional,Teacher,NaN,5.0,NaN,NaN,1.0,Less than 5 hours,Moderate,BBA,Yes,10.0,1.0,Yes,1
4,Rhea,Female,30.0,Kanpur,Working Professional,Business Analyst,NaN,1.0,NaN,NaN,1.0,5-6 hours,Unhealthy,BBA,Yes,9.0,4.0,Yes,0
5,Vani,Female,59.0,Ahmedabad,Working Professional,Finanancial Analyst,NaN,2.0,NaN,NaN,5.0,5-6 hours,Healthy,MCA,No,7.0,5.0,No,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140694,Ishaani,Female,45.0,Ahmedabad,Working Professional,Teacher,NaN,2.0,NaN,NaN,5.0,Less than 5 hours,Moderate,B.Ed,Yes,1.0,5.0,No,0
140695,Vidya,Female,18.0,Ahmedabad,Working Professional,NaN,NaN,5.0,NaN,NaN,4.0,5-6 hours,Unhealthy,Class 12,No,2.0,4.0,Yes,1
140696,Lata,Female,41.0,Hyderabad,Working Professional,Content Writer,NaN,5.0,NaN,NaN,4.0,7-8 hours,Moderate,B.Tech,Yes,6.0,5.0,Yes,0
140697,Aanchal,Female,24.0,Kolkata,Working Professional,Marketing Manager,NaN,3.0,NaN,NaN,1.0,More than 8 hours,Moderate,B.Com,No,4.0,4.0,No,0
140698,Prachi,Female,49.0,Srinagar,Working Professional,Plumber,NaN,5.0,NaN,NaN,2.0,5-6 hours,Moderate,ME,Yes,10.0,1.0,No,0

**Setting "academic_pressure" to `0.0` Where "working_professional_or_student" is `Working Professional`**

In [184]:
df.loc[df['working_professional_or_student'] == "Working Professional", 'academic_pressure'] = df.loc[df['working_professional_or_student'] == "Working Professional", 'academic_pressure'].fillna(0.0)

**Setting "academic_pressure"  `NaN` to mean Value Where "working_professional_or_student" is `student`**

In [185]:
df.loc[df['working_professional_or_student'] == "Student", 'academic_pressure'] = df.loc[df['working_professional_or_student'] == "Student", 'academic_pressure'].fillna(df['academic_pressure'].mean())

### Cleaning "Work_pressure" Column

In [186]:
df[df['work_pressure'].isna()]

,name,gender,age,city,working_professional_or_student,profession,academic_pressure,work_pressure,cgpa,study_satisfaction,job_satisfaction,sleep_duration,dietary_habits,degree,have_you_ever_had_suicidal_thoughts_?,work/study_hours,financial_stress,family_history_of_mental_illness,depression
id,,,,,,,,,,,,,,,,,,,
2,Yuvraj,Male,33.0,Visakhapatnam,Student,Student,5.0,NaN,8.97,2.0,NaN,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1
8,Aishwarya,Female,24.0,Bangalore,Student,Student,2.0,NaN,5.90,5.0,NaN,5-6 hours,Moderate,BSc,No,3.0,2.0,Yes,0
26,Aditya,Male,31.0,Srinagar,Student,Student,3.0,NaN,7.03,5.0,NaN,Less than 5 hours,Healthy,BA,No,9.0,1.0,Yes,0
30,Prisha,Female,28.0,Varanasi,Student,Student,3.0,NaN,5.59,2.0,NaN,7-8 hours,Moderate,BCA,Yes,4.0,5.0,Yes,1
32,Chhavi,Female,25.0,Jaipur,Student,Student,4.0,NaN,8.13,3.0,NaN,5-6 hours,Moderate,M.Tech,Yes,1.0,1.0,No,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140685,Aaradhya,Female,27.0,Surat,Student,Student,5.0,NaN,5.75,5.0,NaN,5-6 hours,Unhealthy,Class 12,Yes,7.0,1.0,Yes,0
140686,Rohan,Male,27.0,Ludhiana,Student,Student,2.0,NaN,9.40,3.0,NaN,Less than 5 hours,Healthy,MSc,No,0.0,3.0,Yes,0
140689,Ayaan,Male,31.0,Faridabad,Student,Student,3.0,NaN,6.61,4.0,NaN,5-6 hours,Unhealthy,MD,No,12.0,2.0,No,0
140690,Rashi,Female,18.0,Ludhiana,Student,Student,5.0,NaN,6.88,2.0,NaN,Less than 5 hours,Healthy,Class 12,Yes,10.0,5.0,No,1
140699,Sai,Male,27.0,Patna,Student,Student,4.0,NaN,9.24,1.0,NaN,Less than 5 hours,Healthy,BCA,Yes,2.0,3.0,Yes,1

**Setting "Work_pressure" to `0.0` Where "working_professional_or_student" is `Student|`**

In [187]:
df.loc[df['working_professional_or_student'] == "Student", 'work_pressure'] = df.loc[df['working_professional_or_student'] == "Student", 'work_pressure'].fillna(0.0)

In [188]:
df[df['work_pressure'].isna()]

,name,gender,age,city,working_professional_or_student,profession,academic_pressure,work_pressure,cgpa,study_satisfaction,job_satisfaction,sleep_duration,dietary_habits,degree,have_you_ever_had_suicidal_thoughts_?,work/study_hours,financial_stress,family_history_of_mental_illness,depression
id,,,,,,,,,,,,,,,,,,,
15846,Shrey,Male,53.0,Vasai-Virar,Working Professional,NaN,0.0,NaN,NaN,NaN,5.0,More than 8 hours,Unhealthy,Class 12,No,12.0,1.0,No,0
18752,Aarti,Female,18.0,Kalyan,Working Professional,NaN,2.0,NaN,8.14,5.0,NaN,Less than 5 hours,Healthy,Class 12,Yes,7.0,1.0,Yes,1
34694,Kriti,Female,46.0,Meerut,Working Professional,NaN,0.0,NaN,NaN,NaN,NaN,5-6 hours,Moderate,Class 12,Yes,12.0,3.0,No,0
35612,Siddhesh,Male,27.0,Vadodara,Working Professional,NaN,0.0,NaN,NaN,NaN,NaN,Less than 5 hours,Unhealthy,B.Pharm,No,11.0,3.0,No,1
41915,Advait,Male,18.0,Kolkata,Working Professional,NaN,4.0,NaN,8.04,3.0,NaN,5-6 hours,Healthy,Class 12,Yes,1.0,5.0,Yes,1
55827,Prachi,Female,19.0,Kalyan,Working Professional,NaN,3.0,NaN,8.11,2.0,NaN,5-6 hours,Unhealthy,Class 12,Yes,4.0,4.0,No,1
57196,Manvi,Female,20.0,Visakhapatnam,Working Professional,NaN,0.0,NaN,NaN,NaN,NaN,Less than 5 hours,Moderate,Class 12,No,0.0,4.0,Yes,1
60348,Nishant,Male,29.0,Agra,Working Professional,NaN,0.0,NaN,9.72,2.0,NaN,5-6 hours,Moderate,B.Ed,No,7.0,2.0,Yes,0
76104,Vanya,Female,20.0,Nashik,Working Professional,NaN,0.0,NaN,NaN,NaN,1.0,7-8 hours,Moderate,Class 12,No,11.0,1.0,No,1
85126,Monika,Female,27.0,Kanpur,Working Professional,Mechanical Engineer,0.0,NaN,NaN,NaN,5.0,5-6 hours,Healthy,BE,Yes,10.0,5.0,No,1
86606,Tushar,Male,18.0,Thane,Working Professional,NaN,0.0,NaN,NaN,NaN,1.0,7-8 hours,Moderate,Class 12,Yes,10.0,3.0,No,1
92609,Shruti,Female,51.0,Indore,Working Professional,NaN,0.0,NaN,NaN,NaN,2.0,7-8 hours,Healthy,Class 12,Yes,4.0,5.0,Yes,0
93213,Anika,Female,23.0,Kanpur,Working Professional,NaN,0.0,NaN,NaN,NaN,4.0,More than 8 hours,Moderate,MSc,No,2.0,1.0,Yes,0
98446,Ritika,Female,54.0,Surat,Working Professional,NaN,0.0,NaN,NaN,NaN,NaN,More than 8 hours,Moderate,Class 12,Yes,0.0,4.0,No,0
99062,Tanisha,Female,24.0,Surat,Working Professional,Content Writer,4.0,NaN,5.42,4.0,NaN,Less than 5 hours,Moderate,B.Ed,Yes,1.0,5.0,No,1
100868,Harsha,Male,29.0,Nashik,Working Professional,NaN,0.0,NaN,NaN,NaN,NaN,More than 8 hours,Healthy,BHM,Yes,10.0,3.0,No,0
101189,Keshav,Male,34.0,Rajkot,Working Professional,NaN,4.0,NaN,8.24,3.0,NaN,More than 8 hours,Moderate,MD,No,11.0,1.0,No,0
122793,Amit,Male,20.0,Pune,Working Professional,NaN,0.0,NaN,NaN,NaN,NaN,5-6 hours,Healthy,Class 12,No,0.0,5.0,No,0
125384,Harini,Female,18.0,Vadodara,Working Professional,NaN,0.0,NaN,NaN,NaN,4.0,7-8 hours,Healthy,Class 12,Yes,9.0,4.0,No,1
134154,Siddharth,Male,34.0,Pune,Working Professional,NaN,0.0,NaN,NaN,NaN,4.0,5-6 hours,Moderate,Class 12,No,4.0,5.0,No,0

**Setting "academic_pressure" `NaN` to mean Value Where "working_professional_or_student" is `Student`**

In [189]:
df.loc[df['working_professional_or_student'] == "Working Professional", 'work_pressure'] = df.loc[df['working_professional_or_student'] == "Working Professional", 'work_pressure'].fillna(df['work_pressure'].mean())

In [190]:
df[df['study_satisfaction'].isna()]

,name,gender,age,city,working_professional_or_student,profession,academic_pressure,work_pressure,cgpa,study_satisfaction,job_satisfaction,sleep_duration,dietary_habits,degree,have_you_ever_had_suicidal_thoughts_?,work/study_hours,financial_stress,family_history_of_mental_illness,depression
id,,,,,,,,,,,,,,,,,,,
0,Aaradhya,Female,49.0,Ludhiana,Working Professional,Chef,0.0,5.0,NaN,NaN,2.0,More than 8 hours,Healthy,BHM,No,1.0,2.0,No,0
1,Vivan,Male,26.0,Varanasi,Working Professional,Teacher,0.0,4.0,NaN,NaN,3.0,Less than 5 hours,Unhealthy,LLB,Yes,7.0,3.0,No,1
3,Yuvraj,Male,22.0,Mumbai,Working Professional,Teacher,0.0,5.0,NaN,NaN,1.0,Less than 5 hours,Moderate,BBA,Yes,10.0,1.0,Yes,1
4,Rhea,Female,30.0,Kanpur,Working Professional,Business Analyst,0.0,1.0,NaN,NaN,1.0,5-6 hours,Unhealthy,BBA,Yes,9.0,4.0,Yes,0
5,Vani,Female,59.0,Ahmedabad,Working Professional,Finanancial Analyst,0.0,2.0,NaN,NaN,5.0,5-6 hours,Healthy,MCA,No,7.0,5.0,No,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140694,Ishaani,Female,45.0,Ahmedabad,Working Professional,Teacher,0.0,2.0,NaN,NaN,5.0,Less than 5 hours,Moderate,B.Ed,Yes,1.0,5.0,No,0
140695,Vidya,Female,18.0,Ahmedabad,Working Professional,NaN,0.0,5.0,NaN,NaN,4.0,5-6 hours,Unhealthy,Class 12,No,2.0,4.0,Yes,1
140696,Lata,Female,41.0,Hyderabad,Working Professional,Content Writer,0.0,5.0,NaN,NaN,4.0,7-8 hours,Moderate,B.Tech,Yes,6.0,5.0,Yes,0
140697,Aanchal,Female,24.0,Kolkata,Working Professional,Marketing Manager,0.0,3.0,NaN,NaN,1.0,More than 8 hours,Moderate,B.Com,No,4.0,4.0,No,0
140698,Prachi,Female,49.0,Srinagar,Working Professional,Plumber,0.0,5.0,NaN,NaN,2.0,5-6 hours,Moderate,ME,Yes,10.0,1.0,No,0

**Setting "Study_satisifcation" to `0.0` Where "working_professional_or_student" is `Working Professional`**

In [191]:
df.loc[df['working_professional_or_student'] == "Working Professional", 'study_satisfaction'] = df.loc[df['working_professional_or_student'] == "Working Professional", 'study_satisfaction'].fillna(0.0)
df.loc[df['working_professional_or_student'] == "Student", 'study_satisfaction'] = df.loc[df['working_professional_or_student'] == "Student", 'study_satisfaction'].fillna(df['study_satisfaction'].mean())

In [192]:
df['study_satisfaction'].isna().sum()

0

In [193]:
df[df['job_satisfaction'].isna()]

,name,gender,age,city,working_professional_or_student,profession,academic_pressure,work_pressure,cgpa,study_satisfaction,job_satisfaction,sleep_duration,dietary_habits,degree,have_you_ever_had_suicidal_thoughts_?,work/study_hours,financial_stress,family_history_of_mental_illness,depression
id,,,,,,,,,,,,,,,,,,,
2,Yuvraj,Male,33.0,Visakhapatnam,Student,Student,5.0,0.0,8.97,2.0,NaN,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1
8,Aishwarya,Female,24.0,Bangalore,Student,Student,2.0,0.0,5.90,5.0,NaN,5-6 hours,Moderate,BSc,No,3.0,2.0,Yes,0
26,Aditya,Male,31.0,Srinagar,Student,Student,3.0,0.0,7.03,5.0,NaN,Less than 5 hours,Healthy,BA,No,9.0,1.0,Yes,0
30,Prisha,Female,28.0,Varanasi,Student,Student,3.0,0.0,5.59,2.0,NaN,7-8 hours,Moderate,BCA,Yes,4.0,5.0,Yes,1
32,Chhavi,Female,25.0,Jaipur,Student,Student,4.0,0.0,8.13,3.0,NaN,5-6 hours,Moderate,M.Tech,Yes,1.0,1.0,No,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140685,Aaradhya,Female,27.0,Surat,Student,Student,5.0,0.0,5.75,5.0,NaN,5-6 hours,Unhealthy,Class 12,Yes,7.0,1.0,Yes,0
140686,Rohan,Male,27.0,Ludhiana,Student,Student,2.0,0.0,9.40,3.0,NaN,Less than 5 hours,Healthy,MSc,No,0.0,3.0,Yes,0
140689,Ayaan,Male,31.0,Faridabad,Student,Student,3.0,0.0,6.61,4.0,NaN,5-6 hours,Unhealthy,MD,No,12.0,2.0,No,0
140690,Rashi,Female,18.0,Ludhiana,Student,Student,5.0,0.0,6.88,2.0,NaN,Less than 5 hours,Healthy,Class 12,Yes,10.0,5.0,No,1
140699,Sai,Male,27.0,Patna,Student,Student,4.0,0.0,9.24,1.0,NaN,Less than 5 hours,Healthy,BCA,Yes,2.0,3.0,Yes,1

**Setting "job_satisfication" to `0.0` Where "working_professional_or_student" is `Working Professional`**

In [194]:
df.loc[df['working_professional_or_student'] == "Student", 'job_satisfaction'] = df.loc[df['working_professional_or_student'] == "Student", 'job_satisfaction'].fillna(0.0)
df.loc[df['working_professional_or_student'] == "Working Professional", 'job_satisfaction'] = df.loc[df['working_professional_or_student'] == "Working Professional", 'job_satisfaction'].fillna(df['job_satisfaction'].mean())

**Dropping Remaining `Null` Values**

In [195]:
df.dropna(subset=['profession', 'dietary_habits','degree','financial_stress'], inplace=True)

In [196]:
df.head()

,name,gender,age,city,working_professional_or_student,profession,academic_pressure,work_pressure,cgpa,study_satisfaction,job_satisfaction,sleep_duration,dietary_habits,degree,have_you_ever_had_suicidal_thoughts_?,work/study_hours,financial_stress,family_history_of_mental_illness,depression
id,,,,,,,,,,,,,,,,,,,
0,Aaradhya,Female,49.0,Ludhiana,Working Professional,Chef,0.0,5.0,NaN,0.0,2.0,More than 8 hours,Healthy,BHM,No,1.0,2.0,No,0
1,Vivan,Male,26.0,Varanasi,Working Professional,Teacher,0.0,4.0,NaN,0.0,3.0,Less than 5 hours,Unhealthy,LLB,Yes,7.0,3.0,No,1
2,Yuvraj,Male,33.0,Visakhapatnam,Student,Student,5.0,0.0,8.97,2.0,0.0,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1
3,Yuvraj,Male,22.0,Mumbai,Working Professional,Teacher,0.0,5.0,NaN,0.0,1.0,Less than 5 hours,Moderate,BBA,Yes,10.0,1.0,Yes,1
4,Rhea,Female,30.0,Kanpur,Working Professional,Business Analyst,0.0,1.0,NaN,0.0,1.0,5-6 hours,Unhealthy,BBA,Yes,9.0,4.0,Yes,0

**Changing Dtype of "Age" to `Float` to `Int`**

In [197]:
df['age']=df['age'].astype('int')

**function for Value_counts**

In [198]:
def VC(col):
    for c in col:
        print(df[c].value_counts())
        print("\t  = = = = = = = = = = = = = = = = = = = \t")

In [199]:
VC(['city','working_professional_or_student','profession','dietary_habits','sleep_duration','degree','have_you_ever_had_suicidal_thoughts_?'])

city
Kalyan         6294
Patna          5663
Vasai-Virar    5387
Kolkata        5327
Meerut         5271
               ...
Moreadhyay        1
Morena            1
Ishkarsh          1
Kashk             1
Malyansh          1
Name: count, Length: 97, dtype: int64
	  = = = = = = = = = = = = = = = = = = =
working_professional_or_student
Working Professional    104034
Student                  27896
Name: count, dtype: int64
	  = = = = = = = = = = = = = = = = = = =
profession
Student           27869
Teacher           24906
Content Writer     7814
Architect          4370
Consultant         4228
                  ...
Moderate              1
Analyst               1
Pranav                1
Visakhapatnam         1
Yuvraj                1
Name: count, Length: 64, dtype: int64
	  = = = = = = = = = = = = = = = = = = =
dietary_habits
Moderate             46891
Unhealthy            42793
Healthy              42224
Yes                      2
No                       2
BSc                      1
Pratham                  1
Gender                   1
3                        1
Less than Healthy        1
More Healthy             1
1.0                      1
Hormonal                 1
Electrician              1
Mihir                    1
No Healthy               1
Less Healthy             1
M.Tech                   1
Vegas                    1
Male                     1
Indoor                   1
Class 12                 1
2                        1
Name: count, dtype: int64
	  = = = = = = = = = = = = = = = = = = =
sleep_duration
Less than 5 hours    35873
7-8 hours            34918
More than 8 hours    30824
5-6 hours            30238
3-4 hours               11
6-7 hours                8
4-5 hours                7
4-6 hours                5
2-3 hours                5
6-8 hours                4
1-6 hours                4
No                       4
8-9 hours                2
Sleep_Duration           2
10-11 hours              2
Unhealthy                2
45                       2
9-11 hours               2
1-2 hours                1
9-6 hours                1
55-66 hours              1
Moderate                 1
40-45 hours              1
1-3 hours                1
35-36 hours              1
8 hours                  1
Indore                   1
10-6 hours               1
than 5 hours             1
Work_Study_Hours         1
3-6 hours                1
45-48 hours              1
9-5                      1
Pune                     1
9-5 hours                1
Name: count, dtype: int64
	  = = = = = = = = = = = = = = = = = = =
degree
B.Ed        11679
B.Arch       8729
B.Com        8107
Class 12     6139
B.Pharm      5851
            ...
29              1
LLCom           1
0               1
Bhavesh         1
5.61            1
Name: count, Length: 112, dtype: int64
	  = = = = = = = = = = = = = = = = = = =
have_you_ever_had_suicidal_thoughts_?
No     67411
Yes    64519
Name: count, dtype: int64
	  = = = = = = = = = = = = = = = = = = =

**Removing the Categories which has less than 10 Value_counts**

In [200]:
city_counts = df['city'].value_counts()
threshold = 10
cities_to_keep = city_counts[city_counts > threshold].index
df = df[df['city'].isin(cities_to_keep)]

In [201]:
degree_counts = df['degree'].value_counts()
threshold = 10
Degree_to_keep = degree_counts[degree_counts > threshold].index
df = df[df['degree'].isin(Degree_to_keep)]

In [202]:
profession_counts = df['profession'].value_counts()
threshold = 10
profession_to_keep = profession_counts[profession_counts > threshold].index
df = df[df['profession'].isin(profession_to_keep)]

In [203]:
# Cleaning `sleep_duration`
# Define a map to consolidate ranges
sleep_map = {
    'Less than 5 hours': '0-5 hours',
    'More than 8 hours': '8+ hours',
    '3-4 hours': '0-5 hours',
    '5-6 hours': '5-6 hours',
    '7-8 hours': '7-8 hours',
    # Add more mappings as needed
}
df['sleep_duration'] = df['sleep_duration'].replace(sleep_map)

valid_sleep = ['0-5 hours', '8+ hours', '5-6 hours','7-8 hours']
df['sleep_duration'] = df['sleep_duration'].where(df['sleep_duration'].isin(valid_sleep))

In [204]:
# Cleaning `dietary_habits`
# Drop unrelated or incorrect entries
valid_diet = ['Healthy', 'Unhealthy', 'Moderate']
df['dietary_habits'] = df['dietary_habits'].where(df['dietary_habits'].isin(valid_diet))

In [205]:
df.head()

,name,gender,age,city,working_professional_or_student,profession,academic_pressure,work_pressure,cgpa,study_satisfaction,job_satisfaction,sleep_duration,dietary_habits,degree,have_you_ever_had_suicidal_thoughts_?,work/study_hours,financial_stress,family_history_of_mental_illness,depression
id,,,,,,,,,,,,,,,,,,,
0,Aaradhya,Female,49,Ludhiana,Working Professional,Chef,0.0,5.0,NaN,0.0,2.0,8+ hours,Healthy,BHM,No,1.0,2.0,No,0
1,Vivan,Male,26,Varanasi,Working Professional,Teacher,0.0,4.0,NaN,0.0,3.0,0-5 hours,Unhealthy,LLB,Yes,7.0,3.0,No,1
2,Yuvraj,Male,33,Visakhapatnam,Student,Student,5.0,0.0,8.97,2.0,0.0,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1
3,Yuvraj,Male,22,Mumbai,Working Professional,Teacher,0.0,5.0,NaN,0.0,1.0,0-5 hours,Moderate,BBA,Yes,10.0,1.0,Yes,1
4,Rhea,Female,30,Kanpur,Working Professional,Business Analyst,0.0,1.0,NaN,0.0,1.0,5-6 hours,Unhealthy,BBA,Yes,9.0,4.0,Yes,0

### Now Evrything is Clean And Good For Modeling

## Label Encoding

In [206]:
col = ['degree','profession','city','dietary_habits','gender','working_professional_or_student','sleep_duration','have_you_ever_had_suicidal_thoughts_?','family_history_of_mental_illness']


def label_encode(df, column_name):
    le = LabelEncoder()
    for col in column_name:
        df[col] = le.fit_transform(df[col])
    return df

In [207]:
label_encode(df,col)

,name,gender,age,city,working_professional_or_student,profession,academic_pressure,work_pressure,cgpa,study_satisfaction,job_satisfaction,sleep_duration,dietary_habits,degree,have_you_ever_had_suicidal_thoughts_?,work/study_hours,financial_stress,family_history_of_mental_illness,depression
id,,,,,,,,,,,,,,,,,,,
0,Aaradhya,0,49,15,1,3,0.0,5.0,NaN,0.0,2.0,3,0,9,0,1.0,2.0,0,0
1,Vivan,1,26,27,1,33,0.0,4.0,NaN,0.0,3.0,0,2,12,1,7.0,3.0,0,1
2,Yuvraj,1,33,29,0,32,5.0,0.0,8.97,2.0,0.0,1,0,3,1,3.0,1.0,0,1
3,Yuvraj,1,22,17,1,33,0.0,5.0,NaN,0.0,1.0,0,1,6,1,10.0,1.0,1,1
4,Rhea,0,30,12,1,2,0.0,1.0,NaN,0.0,1.0,1,2,6,1,9.0,4.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140694,Ishaani,0,45,1,1,33,0.0,2.0,NaN,0.0,5.0,0,1,2,1,1.0,5.0,0,0
140696,Lata,0,41,8,1,7,0.0,5.0,NaN,0.0,4.0,2,1,4,1,6.0,5.0,1,0
140697,Aanchal,0,24,13,1,23,0.0,3.0,NaN,0.0,1.0,3,1,1,0,4.0,4.0,0,0
140698,Prachi,0,49,23,1,27,0.0,5.0,NaN,0.0,2.0,1,1,23,1,10.0,1.0,0,0
140699,Sai,1,27,20,0,32,4.0,0.0,9.24,1.0,0.0,0,0,7,1,2.0,3.0,1,1

In [208]:
df_copy = df.copy()

# Test Data

In [209]:
test=pd.read_csv('/kaggle/input/playground-series-s4e11/test.csv',index_col=['id'])
test.head()

,Name,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness
id,,,,,,,,,,,,,,,,,,
140700,Shivam,Male,53.0,Visakhapatnam,Working Professional,Judge,NaN,2.0,NaN,NaN,5.0,Less than 5 hours,Moderate,LLB,No,9.0,3.0,Yes
140701,Sanya,Female,58.0,Kolkata,Working Professional,Educational Consultant,NaN,2.0,NaN,NaN,4.0,Less than 5 hours,Moderate,B.Ed,No,6.0,4.0,No
140702,Yash,Male,53.0,Jaipur,Working Professional,Teacher,NaN,4.0,NaN,NaN,1.0,7-8 hours,Moderate,B.Arch,Yes,12.0,4.0,No
140703,Nalini,Female,23.0,Rajkot,Student,NaN,5.0,NaN,6.84,1.0,NaN,More than 8 hours,Moderate,BSc,Yes,10.0,4.0,No
140704,Shaurya,Male,47.0,Kalyan,Working Professional,Teacher,NaN,5.0,NaN,NaN,5.0,7-8 hours,Moderate,BCA,Yes,3.0,4.0,No

### **Did Same processing as for Train Data**

In [210]:
# Standardize column names
test.columns = test.columns.str.strip().str.replace(" ", "_").str.lower()

In [211]:
test.loc[test['working_professional_or_student'] == "Student", 'profession'] = test.loc[test['working_professional_or_student'] == "Student", 'profession'].fillna('Student')

In [212]:
test[test['academic_pressure'].isna()]

,name,gender,age,city,working_professional_or_student,profession,academic_pressure,work_pressure,cgpa,study_satisfaction,job_satisfaction,sleep_duration,dietary_habits,degree,have_you_ever_had_suicidal_thoughts_?,work/study_hours,financial_stress,family_history_of_mental_illness
id,,,,,,,,,,,,,,,,,,
140700,Shivam,Male,53.0,Visakhapatnam,Working Professional,Judge,NaN,2.0,NaN,NaN,5.0,Less than 5 hours,Moderate,LLB,No,9.0,3.0,Yes
140701,Sanya,Female,58.0,Kolkata,Working Professional,Educational Consultant,NaN,2.0,NaN,NaN,4.0,Less than 5 hours,Moderate,B.Ed,No,6.0,4.0,No
140702,Yash,Male,53.0,Jaipur,Working Professional,Teacher,NaN,4.0,NaN,NaN,1.0,7-8 hours,Moderate,B.Arch,Yes,12.0,4.0,No
140704,Shaurya,Male,47.0,Kalyan,Working Professional,Teacher,NaN,5.0,NaN,NaN,5.0,7-8 hours,Moderate,BCA,Yes,3.0,4.0,No
140705,Kartik,Male,29.0,Mumbai,Working Professional,Customer Support,NaN,2.0,NaN,NaN,3.0,More than 8 hours,Moderate,B.Com,No,3.0,2.0,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234492,Advait,Male,23.0,Delhi,Working Professional,Consultant,NaN,2.0,NaN,NaN,3.0,Less than 5 hours,Moderate,B.Com,Yes,12.0,4.0,No
234495,Zoya,Female,49.0,Jaipur,Working Professional,Pilot,NaN,3.0,NaN,NaN,5.0,Less than 5 hours,Moderate,BSc,Yes,2.0,2.0,Yes
234496,Shlok,Male,29.0,Ahmedabad,Working Professional,Pilot,NaN,5.0,NaN,NaN,1.0,7-8 hours,Moderate,BE,Yes,11.0,3.0,Yes
234498,Eshita,Female,23.0,Kalyan,Working Professional,Marketing Manager,NaN,4.0,NaN,NaN,2.0,5-6 hours,Healthy,BA,Yes,7.0,5.0,Yes
234499,Gauri,Female,43.0,Varanasi,Working Professional,Educational Consultant,NaN,5.0,NaN,NaN,2.0,More than 8 hours,Healthy,B.Ed,No,11.0,2.0,No

In [213]:
test.loc[test['working_professional_or_student'] == "Working Professional", 'academic_pressure'] = test.loc[test['working_professional_or_student'] == "Working Professional", 'academic_pressure'].fillna(0.0)

In [214]:
test.loc[test['working_professional_or_student'] == "Student", 'academic_pressure'] = test.loc[test['working_professional_or_student'] == "Student", 'academic_pressure'].fillna(test['academic_pressure'].mean())

In [215]:
test.loc[test['working_professional_or_student'] == "Student", 'academic_pressure'].isna().sum()

0

In [216]:
test[test['work_pressure'].isna()]

,name,gender,age,city,working_professional_or_student,profession,academic_pressure,work_pressure,cgpa,study_satisfaction,job_satisfaction,sleep_duration,dietary_habits,degree,have_you_ever_had_suicidal_thoughts_?,work/study_hours,financial_stress,family_history_of_mental_illness
id,,,,,,,,,,,,,,,,,,
140703,Nalini,Female,23.0,Rajkot,Student,Student,5.0,NaN,6.84,1.0,NaN,More than 8 hours,Moderate,BSc,Yes,10.0,4.0,No
140708,Navya,Female,21.0,Surat,Student,Student,1.0,NaN,7.39,3.0,NaN,Less than 5 hours,Healthy,BBA,No,8.0,1.0,Yes
140719,Kiran,Male,28.0,Lucknow,Student,Student,5.0,NaN,6.03,3.0,NaN,7-8 hours,Moderate,MA,No,11.0,3.0,Yes
140720,Rashi,Female,26.0,Ghaziabad,Student,Student,3.0,NaN,8.63,5.0,NaN,More than 8 hours,Moderate,BBA,Yes,10.0,4.0,Yes
140721,Manan,Male,32.0,Visakhapatnam,Student,Student,3.0,NaN,8.61,1.0,NaN,Less than 5 hours,Moderate,M.Ed,Yes,11.0,5.0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234485,Ishaan,Male,33.0,Agra,Student,Student,5.0,NaN,5.74,2.0,NaN,7-8 hours,Moderate,B.Com,Yes,12.0,5.0,Yes
234490,Abhishek,Male,19.0,Nashik,Student,Student,4.0,NaN,8.96,3.0,NaN,7-8 hours,Unhealthy,Class 12,No,2.0,2.0,Yes
234493,Aohi,Female,29.0,Vadodara,Student,Student,2.0,NaN,5.58,5.0,NaN,More than 8 hours,Healthy,Class 12,Yes,8.0,2.0,Yes
234494,Shlok,Male,33.0,Nashik,Student,Student,1.0,NaN,7.92,2.0,NaN,More than 8 hours,Healthy,BA,Yes,9.0,2.0,No
234497,Rishi,Male,24.0,Visakhapatnam,Student,Student,1.0,NaN,7.51,4.0,NaN,7-8 hours,Moderate,B.Tech,No,7.0,1.0,No

In [217]:
test.loc[test['working_professional_or_student'] == "Student", 'work_pressure'] = test.loc[test['working_professional_or_student'] == "Student", 'work_pressure'].fillna(0.0)

In [218]:
test[test['work_pressure'].isna()]

,name,gender,age,city,working_professional_or_student,profession,academic_pressure,work_pressure,cgpa,study_satisfaction,job_satisfaction,sleep_duration,dietary_habits,degree,have_you_ever_had_suicidal_thoughts_?,work/study_hours,financial_stress,family_history_of_mental_illness
id,,,,,,,,,,,,,,,,,,
145631,Tina,Female,18.0,Srinagar,Working Professional,NaN,2.0,NaN,8.04,5.0,NaN,More than 8 hours,Unhealthy,Class 12,Yes,6.0,4.0,No
149705,Anand,Male,18.0,Vasai-Virar,Working Professional,NaN,0.0,NaN,NaN,NaN,2.0,Less than 5 hours,Unhealthy,Class 12,Yes,9.0,4.0,No
160926,Himani,Female,19.0,Rajkot,Working Professional,NaN,0.0,NaN,NaN,NaN,2.0,Less than 5 hours,Moderate,Class 12,Yes,0.0,5.0,Yes
171833,Sanya,Female,33.0,Kolkata,Working Professional,NaN,0.0,NaN,9.88,5.0,NaN,More than 8 hours,Healthy,MCA,Yes,11.0,1.0,Yes
172498,Janvi,Female,28.0,Mumbai,Working Professional,NaN,0.0,NaN,NaN,NaN,NaN,5-6 hours,Unhealthy,BCA,Yes,8.0,4.0,No
174747,Saanvi,Female,50.0,Thane,Working Professional,NaN,0.0,NaN,NaN,NaN,NaN,Less than 5 hours,Unhealthy,Class 12,Yes,2.0,5.0,No
181776,Ila,Female,52.0,Kanpur,Working Professional,NaN,0.0,NaN,NaN,NaN,2.0,7-8 hours,Unhealthy,M.Pharm,Yes,3.0,3.0,No
189676,Tanisha,Female,37.0,Thane,Working Professional,NaN,0.0,NaN,NaN,NaN,NaN,Less than 5 hours,Moderate,LLB,Yes,0.0,2.0,Yes
190034,Vani,Female,19.0,Pune,Working Professional,NaN,2.0,NaN,NaN,4.0,NaN,Less than 5 hours,Moderate,Class 12,Yes,2.0,2.0,No
210348,Yash,Male,39.0,Bhopal,Working Professional,NaN,0.0,NaN,NaN,NaN,3.0,Less than 5 hours,Moderate,Class 12,Yes,4.0,2.0,No

In [219]:
test.loc[test['working_professional_or_student'] == "Working Professional", 'work_pressure'] = test.loc[test['working_professional_or_student'] == "Working Professional", 'work_pressure'].fillna(test['work_pressure'].mean())

In [220]:
test[test['study_satisfaction'].isna()]

,name,gender,age,city,working_professional_or_student,profession,academic_pressure,work_pressure,cgpa,study_satisfaction,job_satisfaction,sleep_duration,dietary_habits,degree,have_you_ever_had_suicidal_thoughts_?,work/study_hours,financial_stress,family_history_of_mental_illness
id,,,,,,,,,,,,,,,,,,
140700,Shivam,Male,53.0,Visakhapatnam,Working Professional,Judge,0.0,2.0,NaN,NaN,5.0,Less than 5 hours,Moderate,LLB,No,9.0,3.0,Yes
140701,Sanya,Female,58.0,Kolkata,Working Professional,Educational Consultant,0.0,2.0,NaN,NaN,4.0,Less than 5 hours,Moderate,B.Ed,No,6.0,4.0,No
140702,Yash,Male,53.0,Jaipur,Working Professional,Teacher,0.0,4.0,NaN,NaN,1.0,7-8 hours,Moderate,B.Arch,Yes,12.0,4.0,No
140704,Shaurya,Male,47.0,Kalyan,Working Professional,Teacher,0.0,5.0,NaN,NaN,5.0,7-8 hours,Moderate,BCA,Yes,3.0,4.0,No
140705,Kartik,Male,29.0,Mumbai,Working Professional,Customer Support,0.0,2.0,NaN,NaN,3.0,More than 8 hours,Moderate,B.Com,No,3.0,2.0,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234492,Advait,Male,23.0,Delhi,Working Professional,Consultant,0.0,2.0,NaN,NaN,3.0,Less than 5 hours,Moderate,B.Com,Yes,12.0,4.0,No
234495,Zoya,Female,49.0,Jaipur,Working Professional,Pilot,0.0,3.0,NaN,NaN,5.0,Less than 5 hours,Moderate,BSc,Yes,2.0,2.0,Yes
234496,Shlok,Male,29.0,Ahmedabad,Working Professional,Pilot,0.0,5.0,NaN,NaN,1.0,7-8 hours,Moderate,BE,Yes,11.0,3.0,Yes
234498,Eshita,Female,23.0,Kalyan,Working Professional,Marketing Manager,0.0,4.0,NaN,NaN,2.0,5-6 hours,Healthy,BA,Yes,7.0,5.0,Yes
234499,Gauri,Female,43.0,Varanasi,Working Professional,Educational Consultant,0.0,5.0,NaN,NaN,2.0,More than 8 hours,Healthy,B.Ed,No,11.0,2.0,No

In [221]:
test.loc[test['working_professional_or_student'] == "Working Professional", 'study_satisfaction'] = test.loc[test['working_professional_or_student'] == "Working Professional", 'study_satisfaction'].fillna(0.0)
test.loc[test['working_professional_or_student'] == "Student", 'study_satisfaction'] = test.loc[test['working_professional_or_student'] == "Student", 'study_satisfaction'].fillna(test['study_satisfaction'].mean())

In [222]:
test['study_satisfaction'].isna().sum()

0

In [223]:
test[test['job_satisfaction'].isna()]

,name,gender,age,city,working_professional_or_student,profession,academic_pressure,work_pressure,cgpa,study_satisfaction,job_satisfaction,sleep_duration,dietary_habits,degree,have_you_ever_had_suicidal_thoughts_?,work/study_hours,financial_stress,family_history_of_mental_illness
id,,,,,,,,,,,,,,,,,,
140703,Nalini,Female,23.0,Rajkot,Student,Student,5.0,0.0,6.84,1.0,NaN,More than 8 hours,Moderate,BSc,Yes,10.0,4.0,No
140708,Navya,Female,21.0,Surat,Student,Student,1.0,0.0,7.39,3.0,NaN,Less than 5 hours,Healthy,BBA,No,8.0,1.0,Yes
140719,Kiran,Male,28.0,Lucknow,Student,Student,5.0,0.0,6.03,3.0,NaN,7-8 hours,Moderate,MA,No,11.0,3.0,Yes
140720,Rashi,Female,26.0,Ghaziabad,Student,Student,3.0,0.0,8.63,5.0,NaN,More than 8 hours,Moderate,BBA,Yes,10.0,4.0,Yes
140721,Manan,Male,32.0,Visakhapatnam,Student,Student,3.0,0.0,8.61,1.0,NaN,Less than 5 hours,Moderate,M.Ed,Yes,11.0,5.0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234485,Ishaan,Male,33.0,Agra,Student,Student,5.0,0.0,5.74,2.0,NaN,7-8 hours,Moderate,B.Com,Yes,12.0,5.0,Yes
234490,Abhishek,Male,19.0,Nashik,Student,Student,4.0,0.0,8.96,3.0,NaN,7-8 hours,Unhealthy,Class 12,No,2.0,2.0,Yes
234493,Aohi,Female,29.0,Vadodara,Student,Student,2.0,0.0,5.58,5.0,NaN,More than 8 hours,Healthy,Class 12,Yes,8.0,2.0,Yes
234494,Shlok,Male,33.0,Nashik,Student,Student,1.0,0.0,7.92,2.0,NaN,More than 8 hours,Healthy,BA,Yes,9.0,2.0,No
234497,Rishi,Male,24.0,Visakhapatnam,Student,Student,1.0,0.0,7.51,4.0,NaN,7-8 hours,Moderate,B.Tech,No,7.0,1.0,No

In [224]:
test.loc[test['working_professional_or_student'] == "Student", 'job_satisfaction'] = test.loc[test['working_professional_or_student'] == "Student", 'job_satisfaction'].fillna(0.0)
test.loc[test['working_professional_or_student'] == "Working Professional", 'job_satisfaction'] = test.loc[test['working_professional_or_student'] == "Working Professional", 'job_satisfaction'].fillna(test['job_satisfaction'].mean())

In [225]:
# test.dropna(subset=['profession', 'dietary_habits','degree','financial_stress'], inplace=True)

In [226]:
test['age']=test['age'].astype('int')

In [227]:
def VC(col):
    for c in col:
        print(test[c].value_counts())
        print("\t  = = = = = = = = = = = = = = = = = = = \t")

In [228]:
VC(['city','working_professional_or_student','profession','dietary_habits','sleep_duration','degree','have_you_ever_had_suicidal_thoughts_?'])

city
Kalyan         4387
Vasai-Virar    3897
Patna          3888
Kolkata        3726
Ahmedabad      3677
               ...
Vaikot            1
Abhinav           1
Rolkata           1
Ghopal            1
No.12             1
Name: count, Length: 68, dtype: int64
	  = = = = = = = = = = = = = = = = = = =
working_professional_or_student
Working Professional    75028
Student                 18772
Name: count, dtype: int64
	  = = = = = = = = = = = = = = = = = = =
profession
Student            18754
Teacher            16385
Content Writer      5187
Architect           2982
Consultant          2920
                   ...
Surgeon                1
No                     1
Unveil                 1
City Consultant        1
M.Pharm                1
Name: count, Length: 64, dtype: int64
	  = = = = = = = = = = = = = = = = = = =
dietary_habits
Moderate        33018
Unhealthy       30786
Healthy         29966
No                  6
More Healthy        2
Indoor              1
Prachi              1
Male                1
Less Healthy        1
Mealy               1
Resistant           1
MCA                 1
5 Healthy           1
Academic            1
Educational         1
Soham               1
5 Unhealthy         1
Vivaan              1
Raghav              1
1.0                 1
Naina               1
Kolkata             1
Name: count, dtype: int64
	  = = = = = = = = = = = = = = = = = = =
sleep_duration
Less than 5 hours                      25661
7-8 hours                              24491
More than 8 hours                      22190
5-6 hours                              21404
6-7 hours                                  7
8-9 hours                                  6
4-5 hours                                  6
2-3 hours                                  4
3-4 hours                                  3
9-5                                        2
9-5 hours                                  2
1-2 hours                                  2
4-6 hours                                  2
Meerut                                     2
1-6 hours                                  2
Unhealthy                                  1
Vivan                                      1
60-65 hours                                1
0                                          1
8-89 hours                                 1
Have_you_ever_had_suicidal_thoughts        1
than 5 hours                               1
9-6 hours                                  1
10-6 hours                                 1
20-21 hours                                1
6 hours                                    1
1-3 hours                                  1
50-75 hours                                1
9-11 hours                                 1
9-10 hours                                 1
3-6 hours                                  1
Name: count, dtype: int64
	  = = = = = = = = = = = = = = = = = = =
degree
Class 12    9812
B.Ed        7762
B.Arch      6037
B.Com       5439
B.Pharm     3987
            ...
20             1
Banchal        1
M.             1
K.Ed           1
BHCA           1
Name: count, Length: 87, dtype: int64
	  = = = = = = = = = = = = = = = = = = =
have_you_ever_had_suicidal_thoughts_?
No     47375
Yes    46425
Name: count, dtype: int64
	  = = = = = = = = = = = = = = = = = = =

In [229]:
# city_counts = test['city'].value_counts()
# threshold = 10
# cities_to_keep = city_counts[city_counts > threshold].index
# test = test[test['city'].isin(cities_to_keep)]

In [230]:
# degree_counts = test['degree'].value_counts()
# threshold = 10
# Degree_to_keep = degree_counts[degree_counts > threshold].index
# test = test[test['degree'].isin(Degree_to_keep)]

In [231]:
# profession_counts = test['profession'].value_counts()
# threshold = 10
# profession_to_keep = profession_counts[profession_counts > threshold].index
# test = test[test['profession'].isin(profession_to_keep)]

In [232]:
# Cleaning `sleep_duration`
# Define a map to consolidate ranges
sleep_map = {
    'Less than 5 hours': '0-5 hours',
    'More than 8 hours': '8+ hours',
    '3-4 hours': '0-5 hours',
    '5-6 hours': '5-6 hours',
    '7-8 hours': '7-8 hours',
    # Add more mappings as needed
}
test['sleep_duration'] = test['sleep_duration'].replace(sleep_map)

valid_sleep = ['0-5 hours', '8+ hours', '5-6 hours','7-8 hours']
test['sleep_duration'] = test['sleep_duration'].where(test['sleep_duration'].isin(valid_sleep))

In [233]:
# Cleaning `dietary_habits`
# Drop unrelated or incorrect entries
valid_diet = ['Healthy', 'Unhealthy', 'Moderate']
test['dietary_habits'] = test['dietary_habits'].where(test['dietary_habits'].isin(valid_diet))

In [234]:
test.head()

,name,gender,age,city,working_professional_or_student,profession,academic_pressure,work_pressure,cgpa,study_satisfaction,job_satisfaction,sleep_duration,dietary_habits,degree,have_you_ever_had_suicidal_thoughts_?,work/study_hours,financial_stress,family_history_of_mental_illness
id,,,,,,,,,,,,,,,,,,
140700,Shivam,Male,53,Visakhapatnam,Working Professional,Judge,0.0,2.0,NaN,0.0,5.0,0-5 hours,Moderate,LLB,No,9.0,3.0,Yes
140701,Sanya,Female,58,Kolkata,Working Professional,Educational Consultant,0.0,2.0,NaN,0.0,4.0,0-5 hours,Moderate,B.Ed,No,6.0,4.0,No
140702,Yash,Male,53,Jaipur,Working Professional,Teacher,0.0,4.0,NaN,0.0,1.0,7-8 hours,Moderate,B.Arch,Yes,12.0,4.0,No
140703,Nalini,Female,23,Rajkot,Student,Student,5.0,0.0,6.84,1.0,0.0,8+ hours,Moderate,BSc,Yes,10.0,4.0,No
140704,Shaurya,Male,47,Kalyan,Working Professional,Teacher,0.0,5.0,NaN,0.0,5.0,7-8 hours,Moderate,BCA,Yes,3.0,4.0,No

In [235]:
# test['sleep_duration'].dropna(inplace = True)

In [236]:
test[test['sleep_duration'].isna()]

,name,gender,age,city,working_professional_or_student,profession,academic_pressure,work_pressure,cgpa,study_satisfaction,job_satisfaction,sleep_duration,dietary_habits,degree,have_you_ever_had_suicidal_thoughts_?,work/study_hours,financial_stress,family_history_of_mental_illness
id,,,,,,,,,,,,,,,,,,
141223,Vani,Female,38,Varanasi,Working Professional,Lawyer,0.0,1.0,NaN,0.0,4.0,NaN,Unhealthy,LLM,No,1.0,4.0,No
144293,Rajat,Male,45,Delhi,Working Professional,Electrician,0.0,4.0,NaN,0.0,4.0,NaN,Unhealthy,PhD,No,0.0,1.0,No
145313,Rupal,Female,46,Varanasi,Working Professional,Consultant,0.0,1.0,NaN,0.0,4.0,NaN,Moderate,BE,Yes,5.0,5.0,Yes
149601,Rhea,Female,54,Patna,Working Professional,Content Writer,0.0,3.0,NaN,0.0,3.0,NaN,Moderate,M.Ed,No,0.0,5.0,Yes
153512,Anvi,Female,33,Vasai-Virar,Student,Student,3.0,0.0,9.97,1.0,0.0,NaN,Unhealthy,BSc,Yes,0.0,2.0,Yes
156298,Ansh,Male,38,Vasai-Virar,Working Professional,Content Writer,0.0,4.0,NaN,0.0,1.0,NaN,Unhealthy,BSc,Yes,6.0,4.0,Yes
157107,Aanchal,Female,27,Srinagar,Working Professional,Graphic Designer,0.0,4.0,NaN,0.0,1.0,NaN,Healthy,BSc,Yes,6.0,5.0,Yes
159769,Eshita,Female,20,Surat,Student,Student,1.0,0.0,8.63,5.0,0.0,NaN,Healthy,Class 12,Yes,7.0,2.0,Yes
159837,Samar,Male,51,Thane,Working Professional,NaN,0.0,4.0,NaN,0.0,5.0,NaN,Unhealthy,Class 12,No,0.0,1.0,Yes
161326,Aaradhya,Female,28,Bhopal,Working Professional,Teacher,0.0,5.0,NaN,0.0,1.0,NaN,Unhealthy,MBBS,Yes,11.0,4.0,Yes
162476,Shoham,Male,28,Ahmedabad,Student,Student,4.0,0.0,6.02,2.0,0.0,NaN,Unhealthy,B.Arch,Yes,11.0,3.0,No
162858,Vivaan,Male,22,Agra,Working Professional,Investment Banker,0.0,4.0,NaN,0.0,1.0,NaN,Moderate,MBA,Yes,3.0,2.0,Yes
162859,Kriti,Female,53,Faridabad,Working Professional,Content Writer,0.0,2.0,NaN,0.0,4.0,NaN,Healthy,MA,Yes,3.0,5.0,No
167320,Anand,Male,24,Ahmedabad,Student,Student,2.0,0.0,8.21,4.0,0.0,NaN,Moderate,Class 12,Yes,8.0,2.0,Yes
167445,Sanya,Female,56,Surat,Working Professional,Teacher,0.0,1.0,NaN,0.0,2.0,NaN,Moderate,LLB,Yes,11.0,2.0,No
167851,Isha,Female,36,Ludhiana,Working Professional,UX/UI Designer,0.0,1.0,NaN,0.0,4.0,NaN,Healthy,PhD,Yes,12.0,3.0,Yes
170027,Rupal,Female,19,Vadodara,Working Professional,NaN,0.0,5.0,NaN,0.0,1.0,NaN,Healthy,Class 12,Yes,11.0,2.0,No
170414,Vani,Female,46,Varanasi,Working Professional,Digital Marketer,0.0,4.0,NaN,0.0,4.0,NaN,Healthy,BA,Yes,2.0,4.0,Yes
173003,Krishna,Male,21,Vadodara,Student,Student,3.0,0.0,7.88,1.0,0.0,NaN,Unhealthy,BHM,Yes,10.0,2.0,No
174090,Ira,Female,18,Kolkata,Student,Student,2.0,0.0,7.79,5.0,0.0,NaN,Healthy,Class 12,No,1.0,1.0,No
175601,Aanchal,Female,22,Srinagar,Working Professional,Content Writer,0.0,2.0,NaN,0.0,1.0,NaN,Healthy,B.Ed,Yes,9.0,4.0,Yes
176887,Anika,Female,38,Patna,Working Professional,Doctor,0.0,1.0,NaN,0.0,1.0,NaN,Moderate,M.Pharm,Yes,5.0,4.0,No
178728,Bhavesh,Male,39,Jaipur,Working Professional,Teacher,0.0,5.0,NaN,0.0,4.0,NaN,Healthy,M.Tech,No,1.0,1.0,No
180882,Prachi,Male,35,Meerut,Working Professional,Graphic Designer,0.0,2.0,NaN,0.0,1.0,NaN,Unhealthy,BE,No,6.0,1.0,Yes
181222,Jai,Male,49,Kolkata,Working Professional,Sales Executive,0.0,2.0,NaN,0.0,5.0,NaN,Healthy,MBA,Yes,3.0,2.0,No
181965,Anaya,Female,28,Vasai-Virar,Working Professional,Teacher,0.0,4.0,NaN,0.0,2.0,NaN,Moderate,LLM,Yes,10.0,4.0,Yes
182518,Chhavi,Female,46,Vadodara,Working Professional,Teacher,0.0,4.0,NaN,0.0,3.0,NaN,Healthy,BBA,Yes,11.0,2.0,No
186267,Pratham,Male,59,Visakhapatnam,Working Professional,Marketing Manager,0.0,4.0,NaN,0.0,5.0,NaN,Healthy,BA,Yes,3.0,4.0,No
188445,Rupak,Male,39,Srinagar,Working Professional,Financial Analyst,0.0,4.0,NaN,0.0,3.0,NaN,Healthy,M.Com,Yes,1.0,5.0,No
188767,Vedant,Male,45,Ludhiana,Working Professional,Teacher,0.0,4.0,NaN,0.0,1.0,NaN,Unhealthy,LLM,No,0.0,3.0,No
191510,Tushar,Male,56,Ludhiana,Working Professional,Teacher,0.0,1.0,NaN,0.0,2.0,NaN,Unhealthy,B.Com,Yes,1.0,4.0,No
192124,Raghav,Male,41,Pune,Working Professional,Manager,0.0,5.0,NaN,0.0,4.0,NaN,Healthy,BHM,No,9.0,1.0,Yes
192902,Tushar,Male,50,Kanpur,Working Professional,Sales Executive,0.0,5.0,NaN,0.0,3.0,NaN,Healthy,BBA,Yes,1.0,4.0,No
194782,Saanvi,Female,28,Srinagar,Student,Student,5.0,0.0,6.42,2.0,0.0,NaN,Healthy,BA,Yes,11.0,2.0,No
198721,Armaan,Male,49,Kanpur,Working Professional,Business Analyst,0.0,2.0,NaN,0.0,2.0,NaN,Unhealthy,ME,No,2.0,5.0,Yes
199409,Armaan,Male,22,Bangalore,Working Professional,Judge,0.0,4.0,NaN,0.0,1.0,NaN,Moderate,LLM,Yes,5.0,3.0,No
202031,Vidya,Female,57,Bhopal,Working Professional,Doctor,0.0,2.0,NaN,0.0,3.0,NaN,Unhealthy,M.Pharm,Yes,7.0,1.0,Yes
202669,Advait,Male,41,Bhopal,Working Professional,Doctor,0.0,2.0,NaN,0.0,3.0,NaN,Moderate,B.Pharm,No,4.0,3.0,No
207772,Eshita,Female,52,Nagpur,Working Professional,HR Manager,0.0,2.0,NaN,0.0,2.0,NaN,Healthy,MBA,Yes,8.0,2.0,Yes
208316,Aarti,Female,50,Srinagar,Working Professional,Plumber,0.0,1.0,NaN,0.0,5.0,NaN,Healthy,BSc,Yes,2.0,2.0,No
209657,Krishna,Male,45,Chennai,Working Professional,Digital Marketer,0.0,3.0,NaN,0.0,2.0,NaN,Healthy,BA,No,3.0,1.0,No
210094,Aditi,Female,29,Pune,Working Professional,Travel Consultant,0.0,3.0,NaN,0.0,5.0,NaN,Unhealthy,MHM,No,5.0,4.0,Yes
210475,Hrithik,Male,50,Kolkata,Working Professional,Teacher,0.0,2.0,NaN,0.0,1.0,NaN,Unhealthy,B.Ed,Yes,7.0,5.0,No
211988,Kriti,Female,46,Nagpur,Working Professional,Plumber,0.0,3.0,NaN,0.0,5.0,NaN,Unhealthy,BSc,Yes,10.0,2.0,Yes
213415,Vikram,Male,28,Hyderabad,Student,Student,4.0,0.0,8.65,5.0,0.0,NaN,Moderate,B.Ed,No,12.0,2.0,Yes
215850,Tara,Female,34,Vasai-Virar,Working Professional,Teacher,0.0,3.0,NaN,0.0,2.0,NaN,Unhealthy,MBBS,Yes,10.0,5.0,No
216846,Yogesh,Male,27,Ludhiana,Student,Student,3.0,0.0,7.52,1.0,0.0,NaN,Moderate,BBA,No,5.0,5.0,Yes
217127,Vivaan,Male,47,Rajkot,Working Professional,Plumber,0.0,3.0,NaN,0.0,5.0,NaN,Moderate,BSc,No,3.0,1.0,No
228131,Tushar,Male,41,Ahmedabad,Working Professional,NaN,0.0,2.0,NaN,0.0,5.0,NaN,Unhealthy,Class 12,Yes,10.0,4.0,No
228250,Gagan,Male,29,Chennai,Student,Student,2.0,0.0,9.94,4.0,0.0,NaN,Moderate,BSc,Yes,1.0,2.0,No
229244,Aditya,Male,31,Hyderabad,Working Professional,Mechanical Engineer,0.0,2.0,NaN,0.0,3.0,NaN,Healthy,PhD,No,2.0,4.0,No

In [237]:
test1 =test.copy()

In [238]:
col = ['dietary_habits','gender','working_professional_or_student','profession','degree','city','sleep_duration','have_you_ever_had_suicidal_thoughts_?','family_history_of_mental_illness']


def label_encode(test, column_name):
    le = LabelEncoder()
    for col in column_name:
        test[col] = le.fit_transform(test[col])
    return test

In [239]:
label_encode(test,col)

,name,gender,age,city,working_professional_or_student,profession,academic_pressure,work_pressure,cgpa,study_satisfaction,job_satisfaction,sleep_duration,dietary_habits,degree,have_you_ever_had_suicidal_thoughts_?,work/study_hours,financial_stress,family_history_of_mental_illness
id,,,,,,,,,,,,,,,,,,
140700,Shivam,1,53,67,1,27,0.0,2.0,NaN,0.0,5.0,0,1,53,0,9.0,3.0,1
140701,Sanya,0,58,25,1,19,0.0,2.0,NaN,0.0,4.0,0,1,16,0,6.0,4.0,0
140702,Yash,1,53,21,1,56,0.0,4.0,NaN,0.0,1.0,2,1,12,1,12.0,4.0,0
140703,Nalini,0,23,47,0,53,5.0,0.0,6.84,1.0,0.0,3,1,35,1,10.0,4.0,0
140704,Shaurya,1,47,22,1,56,0.0,5.0,NaN,0.0,5.0,2,1,28,1,3.0,4.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234495,Zoya,0,49,21,1,44,0.0,3.0,NaN,0.0,5.0,0,1,35,1,2.0,2.0,1
234496,Shlok,1,29,3,1,44,0.0,5.0,NaN,0.0,1.0,2,1,29,1,11.0,3.0,1
234497,Rishi,1,24,67,0,53,1.0,0.0,7.51,4.0,0.0,2,1,23,0,7.0,1.0,0
234498,Eshita,0,23,22,1,38,0.0,4.0,NaN,0.0,2.0,1,0,25,1,7.0,5.0,1
234499,Gauri,0,43,62,1,19,0.0,5.0,NaN,0.0,2.0,3,0,16,0,11.0,2.0,0

In [240]:
#!pip install pandas==1.4.0

In [241]:
# def one_hot_encode_multiple_columns(df, columns):
#     # Replace 'sparse' with 'sparse_output'
#     ohe = OneHotEncoder(sparse_output=False, drop='first')
#     # Fit and transform the specified columns
#     encoded = ohe.fit_transform(df[columns])
#     # Create a DataFrame with the encoded columns
#     encoded_df = pd.DataFrame(encoded, columns=ohe.get_feature_names_out(columns))
#     # Concatenate with the original DataFrame and drop the original columns
#     df = pd.concat([df.reset_index(drop=True), encoded_df], axis=1).drop(columns, axis=1)
#     return df

In [242]:
# For one-hot encoding
# df = one_hot_encode_multiple_columns(df, ['city', 'profession','degree'])

# Scaling the data

In [243]:
columns_to_scale = df_copy.columns.difference(['name','depression'])
scaler = StandardScaler()
# Fit and transform the specified columns
df_scaled = scaler.fit_transform(df_copy[columns_to_scale])
df_copy[columns_to_scale] = pd.DataFrame(df_scaled, columns=columns_to_scale, index=df_copy.index)
df_copy.head()

,name,gender,age,city,working_professional_or_student,profession,academic_pressure,work_pressure,cgpa,study_satisfaction,job_satisfaction,sleep_duration,dietary_habits,degree,have_you_ever_had_suicidal_thoughts_?,work/study_hours,financial_stress,family_history_of_mental_illness,depression
id,,,,,,,,,,,,,,,,,,,
0,Aaradhya,-1.105766,0.661355,0.000241,0.517717,-1.586476,-0.463995,1.531596,NaN,-0.459285,-0.197686,1.368983,-1.250727,-0.258354,-0.978341,-1.359133,-0.693750,-0.995189,0
1,Vivan,0.904350,-1.260907,1.399760,0.517717,0.973695,-0.463995,0.955571,NaN,-0.459285,0.375582,-1.300393,1.239382,0.114893,1.022138,0.196737,0.014412,-0.995189,1
2,Yuvraj,0.904350,-0.675871,1.633013,-1.931557,0.888356,3.028953,-1.348527,0.895475,1.016404,-1.344223,-0.410601,-1.250727,-1.004850,1.022138,-0.840510,-1.401912,-0.995189,1
3,Yuvraj,0.904350,-1.595213,0.233494,0.517717,0.973695,-0.463995,1.531596,NaN,-0.459285,-0.770955,-1.300393,-0.005673,-0.631602,1.022138,0.974672,-1.401912,1.004834,1
4,Rhea,-1.105766,-0.926600,-0.349639,0.517717,-1.671815,-0.463995,-0.772502,NaN,-0.459285,-0.770955,-0.410601,1.239382,-0.631602,1.022138,0.715360,0.722575,1.004834,0

# Training And Spliting

In [244]:
df['depression'].value_counts()

depression
0    109454
1     22231
Name: count, dtype: int64

In [245]:
X = df_copy.drop(columns=['name','cgpa','depression'])  # Features
y = df_copy['depression']  # Target variable

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=2022)

In [246]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((105348, 16), (26337, 16), (105348,), (26337,))

# Modeling

In [247]:
columns_to_scale = test.columns.difference(['name','cgpa'])

# Fit and transform the specified columns
test_scaled = scaler.fit_transform(test[columns_to_scale])
test[columns_to_scale] = pd.DataFrame(test_scaled, columns=columns_to_scale, index=test.index)
test.head()

,name,gender,age,city,working_professional_or_student,profession,academic_pressure,work_pressure,cgpa,study_satisfaction,job_satisfaction,sleep_duration,dietary_habits,degree,have_you_ever_had_suicidal_thoughts_?,work/study_hours,financial_stress,family_history_of_mental_illness
id,,,,,,,,,,,,,,,,,,
140700,Shivam,0.910942,1.022988,1.749291,0.500200,-0.559166,-0.448987,-0.235133,NaN,-0.443263,1.520619,-1.296434,-0.011647,0.510629,-0.989923,0.713464,0.015013,1.004659
140701,Sanya,-1.097765,1.426428,-0.384568,0.500200,-0.968569,-0.448987,-0.235133,NaN,-0.443263,0.942762,-1.296434,-0.011647,-1.213462,-0.989923,-0.064107,0.721928,-0.995363
140702,Yash,0.910942,1.022988,-0.587793,0.500200,0.924920,-0.448987,0.914337,NaN,-0.443263,-0.790810,0.476758,-0.011647,-1.399850,1.010180,1.491035,0.721928,-0.995363
140703,Nalini,-1.097765,-1.397652,0.733168,-1.999201,0.771393,3.103134,-1.384603,6.84,0.310363,-1.368667,1.363354,-0.011647,-0.328118,1.010180,0.972654,0.721928,-0.995363
140704,Shaurya,0.910942,0.538860,-0.536987,0.500200,0.924920,-0.448987,1.489072,NaN,-0.443263,1.520619,0.476758,-0.011647,-0.654297,1.010180,-0.841677,0.721928,-0.995363

## Logistic Regression

In [248]:
# Step 1: Train Logistic Regression model
log_reg = LogisticRegression()
log_reg.fit(X_train, y_train)

# Step 2: Predictions
y_pred = log_reg.predict(X_test)

# Step 3: Model Evaluation
accuracy = accuracy_score(y_test, y_pred)
conf_matrix = confusion_matrix(y_test, y_pred)
class_report = classification_report(y_test, y_pred)

# Print the results
print(f"Accuracy: {accuracy:.4f}")
print(f"Confusion Matrix:\n{conf_matrix}")
print(f"Classification Report:\n{class_report}")

Accuracy: 0.9415
Confusion Matrix:
[[21295   690]
 [  852  3500]]
Classification Report:
              precision    recall  f1-score   support

           0       0.96      0.97      0.97     21985
           1       0.84      0.80      0.82      4352

    accuracy                           0.94     26337
   macro avg       0.90      0.89      0.89     26337
weighted avg       0.94      0.94      0.94     26337

test.head(

### Testing on Unseen Data "Test"

In [249]:
test.drop(columns=['name','cgpa'],inplace=True)

y_pred = log_reg.predict(test)

test1['predicted_depression'] = y_pred
test1.head()

,name,gender,age,city,working_professional_or_student,profession,academic_pressure,work_pressure,cgpa,study_satisfaction,job_satisfaction,sleep_duration,dietary_habits,degree,have_you_ever_had_suicidal_thoughts_?,work/study_hours,financial_stress,family_history_of_mental_illness,predicted_depression
id,,,,,,,,,,,,,,,,,,,
140700,Shivam,Male,53,Visakhapatnam,Working Professional,Judge,0.0,2.0,NaN,0.0,5.0,0-5 hours,Moderate,LLB,No,9.0,3.0,Yes,0
140701,Sanya,Female,58,Kolkata,Working Professional,Educational Consultant,0.0,2.0,NaN,0.0,4.0,0-5 hours,Moderate,B.Ed,No,6.0,4.0,No,0
140702,Yash,Male,53,Jaipur,Working Professional,Teacher,0.0,4.0,NaN,0.0,1.0,7-8 hours,Moderate,B.Arch,Yes,12.0,4.0,No,0
140703,Nalini,Female,23,Rajkot,Student,Student,5.0,0.0,6.84,1.0,0.0,8+ hours,Moderate,BSc,Yes,10.0,4.0,No,1
140704,Shaurya,Male,47,Kalyan,Working Professional,Teacher,0.0,5.0,NaN,0.0,5.0,7-8 hours,Moderate,BCA,Yes,3.0,4.0,No,0

## Decision Tree

In [250]:
# Decision Tree Model
model = DecisionTreeClassifier(random_state=42)
model.fit(X_train, y_train)

# Predictions and Evaluation
y_pred_dt = model.predict(X_test)
print("Accuracy:", accuracy_score(y_test,y_pred_dt))
conf_matrix = confusion_matrix(y_test, y_pred_dt)
class_report = classification_report(y_test, y_pred_dt)

# Print the results
print(f"Accuracy: {accuracy:.4f}")
print(f"Confusion Matrix:\n{conf_matrix}")
print(f"Classification Report:\n{class_report}")

Accuracy: 0.9084557846375821
Accuracy: 0.9415
Confusion Matrix:
[[20680  1305]
 [ 1106  3246]]
Classification Report:
              precision    recall  f1-score   support

           0       0.95      0.94      0.94     21985
           1       0.71      0.75      0.73      4352

    accuracy                           0.91     26337
   macro avg       0.83      0.84      0.84     26337
weighted avg       0.91      0.91      0.91     26337

## Random Forest

In [251]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

# Random Forest Model
model = RandomForestClassifier(random_state=42)
model.fit(X_train, y_train)

# Predictions and Evaluation
y_pred_Rf = model.predict(X_test)
print("Accuracy:", accuracy_score(y_test, y_pred_Rf))
conf_matrix = confusion_matrix(y_test, y_pred_Rf)
class_report = classification_report(y_test, y_pred_Rf)

# Print the results
print(f"Accuracy: {accuracy:.4f}")
print(f"Confusion Matrix:\n{conf_matrix}")
print(f"Classification Report:\n{class_report}")

Accuracy: 0.9411474351672552
Accuracy: 0.9415
Confusion Matrix:
[[21326   659]
 [  891  3461]]
Classification Report:
              precision    recall  f1-score   support

           0       0.96      0.97      0.96     21985
           1       0.84      0.80      0.82      4352

    accuracy                           0.94     26337
   macro avg       0.90      0.88      0.89     26337
weighted avg       0.94      0.94      0.94     26337

## Voting Classifier

In [252]:
LR = LogisticRegression()
Tree = DecisionTreeClassifier()
RF = RandomForestClassifier()
SVM = SVC()
KNN = KNeighborsClassifier()
GB = GradientBoostingClassifier()
AB = AdaBoostClassifier()
LGBM = LGBMClassifier()

# Voting Classifier
model = VotingClassifier(
    estimators=[ ("Decision Tree", Tree),("Logistic Regression", LR) ,("Random Forest", RF),
               ("Support Vector Machine",SVM), ("k-nearest neighbor",KNN), ("Gradient Boosting",GB),
               ("AdaBoost",AB), ("LGBM", LGBM)],
    voting='hard',
)


# Preprocessing of training data, fit model
model.fit(X_train, y_train)

# Preprocessing of validation data, get predictions
prediction = model.predict(X_test)

[LightGBM] [Info] Number of positive: 17879, number of negative: 87469
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.007118 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 213
[LightGBM] [Info] Number of data points in the train set: 105348, number of used features: 16
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.169714 -> initscore=-1.587658
[LightGBM] [Info] Start training from score -1.587658

In [253]:
cm = confusion_matrix(prediction,y_test)
cm

array([[21347,   872],
       [  638,  3480]])

In [254]:
sk_report = classification_report(
    digits=2,
    y_true=prediction,
    y_pred=y_test)
print(sk_report)

              precision    recall  f1-score   support

           0       0.97      0.96      0.97     22219
           1       0.80      0.85      0.82      4118

    accuracy                           0.94     26337
   macro avg       0.89      0.90      0.89     26337
weighted avg       0.94      0.94      0.94     26337

In [255]:
# Predict on test data
test_pred = model.predict(test)

# Create submission DataFrame
submission = pd.DataFrame({
    'id': test.index,
    'Depression': test_pred
})

# # Save submission to CSV
submission.to_csv('submission.csv', index=False)

-----